.main-content {
	display: flex;
	color: red;
	width: 100%;
	background-color: #d4d4d4;
	padding: 1rem;
}

.history {
	width: 40%;
	margin-left: 1rem;
	overflow: auto;
	max-height: 22rem;
	min-height: 21.9rem;
}

.json-content {
	width: 60%;
	overflow: auto;
	max-height: 22rem;
	height: 22rem;
}

.url {
	cursor: pointer;
	border: none;
	background: transparent;
	text-decoration: none;
}

ul {
	list-style: none;
}

button.url {
	color: white;
}
