.form-div {
	width: 20%;
	margin-left: 2rem;
}
textarea {
	max-width: 100%;
}

.radio-container input[type='radio'] {
	visibility: hidden;
}

.radio-container input[type='radio']:checked + label,
.Checked + label {
	background-color: #f96a38;
	color: black;
}

.radio-container label {
	background-color: black;
	color: white;
}

form {
	display: flex;
	flex-direction: column;
}
body {
	background: black;
	color: white;
}
