@import '../../design/variables.scss';

form {
	background-color: $black;
	height: 5vh;
}

input {
	background: $fireOpal;
	color: $black;
	padding: 1rem;
	margin: 0.5rem;
}

button {
	background: $fireOpal;
	color: $black;
	// padding: 1rem;
	margin: 0.5rem;
}

#form-stuff {
	margin: 5rem;
}

form #url-submit {
	display: flex;
	justify-content: space-between;
}

h2 {
	color: $forestGreen;
}
