@import '../../design/variables.scss';

footer {
	background-color: $black;
	color: $fireOpal;
	padding: 0.5rem;
	width: 100%;
	margin-top: 35rem;
}

.copyright {
	text-align: center;
	color: $fireOpal;
}
